   body {
    background-color: #3090C7;
    font-family: "Papyrus", fantasy;
    font-size: 20;
    color: white;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }